.bar-chart {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  height: 300px;
  padding: 10px;
}

.bar {
  width: 26px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 23px;
}
