.top {
  width: 66%;
  height: 50px;
  background-color: #171717;
  border-radius: 35px;
  margin: 16px auto;
}

.top > :first-child {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
