.stats {
  flex: 1;
  height: 30px;
  background-color: #fe006947;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  .progress {
    height: 100%;
    background-color: #e0005d;
    transition: width 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 15px;

    p {
      position: absolute;
      left: 50%;
    }
  }
}
