.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  background-color: #fe0069;
  display: flex;
  justify-content: center;
  align-items: center;
}
